<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Online</title>
    <!-- <link rel="shortcut icon" href="../image/cart.ico" type="image/x-icon"> -->
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <nav class="header">




            <div id="contenedor_de_todo">

                <div id="contenedor_titulo">
                    <img class="logo" src="../img/arte  shibari25...jpg" alt="Imagen de shibari">
                    <h1 class="titulo"><b>SHIBARI</b>-DOJO</h1>
                </div>

                <div id="contenedor_de_botones">

                    <a href="../index.html" class="botones">INICIO</a>
                    <a href="galeria.html" class="botones">GALERIA</a>
                    <a href="tienda.html" class="botones">TIENDA </a>
                    <a href="formulario.html" class="botones">CONTACTANOS</a>
                </div>
            </div>

            <div class="fondo-container">
                <div class="fondo2">

                    <img class="img-fondo" src="../img/fondo6.png" alt="fondo">

                </div>
            </div>



        </nav>

    </header>



    <main>

   
        <h2 class="subtitulo">GALERIA</h2>
        <br>
        <br>
        <br>
        <hr>
        <p>En SHIBARI-DOJO estamos en la constante búsqueda de amantes de las cuerdas, tanto atadores como modelos.

            Para ser modelo de cuerdas no es necesaria ninguna experiencia previa, ni tener ninguna condición física en particular. No buscamos top models. Tan sólo hace falta que tengas el deseo de probar el armonioso abrazo de las cuerdas en un ambiente de seguridad, respeto y absoluto cuidado de la persona atada.
            
            Sea cual sea el lugar donde vayas a probar las cuerdas, es FUNDAMENTAL que sepas cuidarte. Para ello te recomendamos que leas un poco lo que hemos escrito y recopilado sobre Precauciones para Modelos De Cuerdas.
            
            Vas a encontrar tambien muchísimo material muy valioso dentro de las etiquetas: Modelos de cuerda y Seguridad que te recomendamos que leas.

        </p>


        <br>
    

        <div class="galeria_container">
            
            <div class="galeria_item">
                <div class="galeria_descripcion">
                    <img src="../img/arte shibari3.jpg" alt="Imagen Shibari" class="galeria_img">
                    
                    <!-- <h2>Yarol</h2>
                    <p>Figuras</p> -->
                    </div>
                
            </div>
            <div class="galeria_item">
                <div class="galeria_descripcion">
                <img src="../img/arte shibari8.jpg" alt="Imagen Shibari" class="galeria_img">
                <!-- <h2>Cuadro 1</h2>
                <p>Figuras</p> -->
                </div>
            </div>
          
            
            <div class="galeria_item">
                <div class="galeria_descripcion">
                <img src="../img/arte shibari6.jpg" alt="Imagen Shibari" class="galeria_img">
                <!-- <h2>Cuadro 1</h2>
                <p>Figuras</p> -->
                </div>
            </div>
            <div class="galeria_item">
                <div class="galeria_descripcion">
                <img src="../img/arte  shibari14.jpg" alt="Imagen Shibari" class="galeria_img">
                <!-- <h2>Cuadro 1</h2>
                <p>Figuras</p> -->
                </div>
            </div>
           
            <div class="galeria_item">
                <div class="galeria_descripcion">
                <img src="../img/arte  shibari12.jpg" alt="Imagen Shibari" class="galeria_img">
                <!-- <h2>Cuadro 1</h2>
                <p>Figuras</p> -->
                </div>
            </div>
            <div class="galeria_item">
                <div class="galeria_descripcion">
                <img src="../img/arte  shibari13.jpg" alt="Imagen Shibari" class="galeria_img">
                <!-- <h2>Cuadro 1</h2>
                <p>Figuras</p> -->
                </div>
            </div>
            <div class="galeria_item">
                <div class="galeria_descripcion">
                <img src="../img/arte  shibari19.jpg" alt="Imagen Shibari" class="galeria_img">
                <!-- <h2>Cuadro 1</h2>
                <p>Figuras</p> -->
                </div>
            </div>
            <div class="galeria_item">
                <div class="galeria_descripcion">
                <img src="../img/arte  shibari30.jpeg" alt="Imagen Shibari" class="galeria_img">
                <!-- <h2>Cuadro 1</h2>
                <p>Figuras</p> -->
                </div>
            </div>
            <div class="galeria_item">
                <div class="galeria_descripcion">
                <img src="../img/arte shibari10.jpg" alt="Imagen Shibari" class="galeria_img">
                <!-- <h2>Cuadro 1</h2>
                <p>Figuras</p> -->
                </div>
            </div>
            <div class="galeria_item">
                <div class="galeria_descripcion">
                <img src="../img/arte  shibari36.jpg" alt="Imagen Shibari" class="galeria_img">
                <!-- <h2>Cuadro 1</h2>
                <p>Figuras</p> -->
                </div>
            </div>
            <div class="galeria_item">
                <div class="galeria_descripcion">
                <img src="../img/arte  shibari16.jpg" alt="Imagen Shibari" class="galeria_img">
                <!-- <h2>Cuadro 1</h2>
                <p>Figuras</p> -->
                </div>
            </div>
            

            <div class="galeria_item">
                <div class="galeria_descripcion">
                <img src="../img/arte  shibari20.jpg" alt="Imagen Shibari" class="galeria_img">
                <!-- <h2>Cuadro 1</h2>
                <p>Figuras</p> -->
                </div>
            </div>
            <div class="galeria_item">
                <div class="galeria_descripcion">
                <img src="../img/arte  shibari29.jpg" alt="Imagen Shibari" class="galeria_img">
                <!-- <h2>Cuadro 1</h2>
                <p>Figuras</p> -->
                </div>
            </div>
            <div class="galeria_item">
                <div class="galeria_descripcion">
                <img src="../img/arte shibari 55.jpg" alt="Imagen Shibari" class="galeria_img">
                <!-- <h2>Cuadro 1</h2>
                <p>Figuras</p> -->
                </div>
            </div>

            <div class="galeria_item">
                <div class="galeria_descripcion">
                <img src="../img/arte  shibari37.jpg" alt="Imagen Shibari" class="galeria_img">
                <!-- <h2>Cuadro 1</h2>
                <p>Figuras</p> -->
                </div>
            </div>
      

        </div>


        

    </main>
    

   
</body>

<footer>
    <div class="container_footer">
        
        <img class="logo" src="../img/arte  shibari25...jpg" alt="Imagen de shibari">
        <h3>SHIBARI-DOJO</h3>
       
        <p>Kinbaku</p>
        <p>Una posibilidad aerea de vivir en un mundo flotante</p>
        <!-- <p>Arte y sus multiples expresiones- Shibari/Kinbaku - Ataduras Japonesas</p> -->
        <ul class="social">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
        <div class="footer-bottom">
            <p>copyright &copy;2023 SHIBARI-DOJO. diseñado por <span>Hernan Ledesma y Joshelin Torres</span></p>
        </div>

        
    </div>
</footer>

</html>